* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 30px 20px;
  background-color: palevioletred;
  display: flex;
  justify-content: flex-end;
}

.header > div {
  margin: 0 10px;
  flex-basis: 140px;
  height: 70px;
  background-color: pink;
}

.header > :first-child {
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background-color: greenyellow;
}

.contents {
  flex-grow: 1;
  max-width: 700px;
  background-color: green;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.contents > div {
  height: 130px;
  flex-basis: 200px;
  margin: 10px;
  background-color: yellow;
}
